body {
    background-image:    url(crowd2.jpg);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
	font-family: Verdana, Geneva, sans-serif;
	
}

#nav 
{
    text-align: center;
    font-size: 22px;
    color: white;
    background-color: black;
    overflow: hidden;
    display: block;
    margin: auto;
}

h1, h2, h3
{
	color: white;
	margin: auto;
}

#bubbleText {
	background-color: rgba(100, 100, 255, 0.2);
	text-align: center;
    float: center;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    max-width: 90%;
	margin: 5%
	
}
form#searchForm{
	
	color: white;
	
}

table#basketTable {
    
	background-color: rgba(0, 0, 0, 0.2);
    color: white;
}

table#resultTable {
    
	
    color: white;
}


#main 
{
	

	
	background-color: rgba(0, 0, 0, 0);
	
    font-size: 20px;
    text-align: center;
    float: center;
    line-height: 1.3;
	color: white;
	font-family: Verdana, Geneva, sans-serif;
}

#footer
{
	
	clear: both;
	padding: 10px;
	color: white;
	text-align: right;
}



